<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
</head>
<body>
    <div class="full-page" id="full-page">
    </div>
    <div class="sign-in-container">
        <div class="sign-in-page">
            <div class="top-area">
            </div>
            <div class="sign-in-title">
                登入會員帳號
            </div>
            <button class="close-container">
                <img src="../static/image/icon_close.png" class="close-button"/>
            </button>
            <div class="sign-in-input-container">
                <input id="sign-in-email" placeholder="輸入電子信箱" class="sign-in-input"/>
            </div>
            <div class="sign-in-input-container">
                <input type="password" id="sign-in-password" placeholder="輸入密碼" class="sign-in-input"/>
            </div>
            <div class="sign-in-button-container">
                <button class="sign-in-button" id="sign-in-button">登入帳戶</button>
            </div>
            <p id="sign-in-message" class="sign-message"></p>
            <div class="question-container">
                <button class="question" id="sign-in-question-btn">
                    還沒有帳戶？點此註冊
                </button>
            </div>
        </div>
    </div>
    <div class="sign-up-container">
        <div class="sign-up-page">
            <div class="top-area">
            </div>
            <div class="sign-in-title">
                註冊會員帳號
            </div>
            <button class="close-container-2">
                <img src="../static/image/icon_close.png" class="close-button"/>
            </button>
            <div class="sign-in-input-container">
                <input type="text" placeholder="輸入姓名" class="sign-in-input" id="sign-up-name"/>
            </div>
            <div class="sign-in-input-container">
                <input type="text" placeholder="輸入電子郵件" class="sign-in-input" id="sign-up-email"/>
            </div>
            <div class="sign-in-input-container">
                <input type="password" placeholder="輸入密碼" class="sign-in-input" id="sign-up-password"/>
            </div>
            <div class="sign-in-button-container">
                <button class="sign-in-button" id="sign-up-button">註冊新帳戶</button>
            </div>
            <p id="sign-up-message" class="sign-message"></p>
            <div class="question-container">
                <button class="question" id="sign-up-question-btn">
                    已經有帳戶了？點此登入
                </button>
            </div>
        </div>
    </div>
    <div class="navigation_con">
        <div class="navigation">
            <form action="/">
                <button class="title">
                台北一日遊
                </button>
            </form>
            
            <div class="button">
                <button class="button_top">
                    預定行程
                </button>
                <button class="button_top" id="signIn-signUp-button">
                    登入/註冊
                </button>
            </div>
        </div>
    </div>
    <div class="hr_con_up">
        <hr class="hr_up">
</div>
    <main>
        <div class="top_con">
            <div class="top">
                <div class="image-panel">
                    <div class="image-panel__images-group">
                        <!-- image -->
                    </div>
                    <div class="image-panel__left-button image-panel__button-setting">
                    </div>
                    <div class="image-panel__right-button image-panel__button-setting">
                    </div>
                    <div class="image-panel__dot-group">
                    </div>
                </div>
                <div class="text_con">
                    <div class="attraction_name" id="attraction_name">
                            
                    </div>
                    <div class="point_con">
                        <div class="point" id="point_class">
                            
                        </div>
                        <div class="point">
                            at
                        </div>
                        <div class="point" id="mrt_class">
                            
                        </div>
                    </div>
                    <div class="booking_zone">
                        <div class="text_1">訂購導覽行程</div>
                        <div class="text_2">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="date_zone">
                            <div class="text_3">選擇日期：</div>
                            <div class="sub_data_zone">
                                <input type="date" id="date" class="date"/>
                            </div>
                        </div>
                        <div class="choose_zone">
                            <div class="text_3">選擇時間：</div>
                            <div class="radio-group">
                                <input type="radio" class="radio-input" id="r-1" name="number" onclick=checkCost(this)>
                                <label for="r-1" class="radio-label">
                                <span class="radio-button"></span>
                                上半天
                                </label>
                                <div class="space"></div>
                                <div class="radio-group">
                                <input type="radio" class="radio-input" id="r-2" name="number" onclick=checkCost(this)>
                                <label for="r-2" class="radio-label">
                                <span class="radio-button"></span>
                                下半天
                                </label>
                            </div>
                        </div>
                    
                    </div> 
                    <div class="cost_zone">
                        <div class="text_3">導覽費用：</div>
                        <div class="text_4">新台幣</div>
                        <div class="space"></div>
                        <div class="text_4" id="cost"></div>
                        <div class="space"></div>
                        <div class="text_4">元</div>
                    </div>
                    <button class="order_button">
                        開始預約行程
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="hr_con">
        <hr>
    </div>
    <div class="down">
        <div class="article">
            <div class="article_text" id="article_text">
            </div>
        </div>
        <div class="address_title_con">
            <div class="address_title">
                景點地址：
            </div>
        </div>
        <div class="address_con">
            <div class="article_text" id="address"></div>
        </div>
        <div class="address_title_con">
            <div class="address_title">交通方式：</div>
        </div>
        <div class="address_con">
            <div class="article_text" id="transportation"></div>
        </div>
    </div>
    </main>
    <div class="footer">
        <div class="footer-text">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </div>
    <script>
        id = "{{ id }}"
    </script>
    <script src="../static/attraction.js">

    </script>
    <script src="../static/user.js">

    </script>
</body>
</html>