<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homeStyle.css">
</head>
<body id="body">
    <div class="navigation_con">
        <div class="navigation">
            <div class="title">
                台北一日遊
            </div>
            <div class="button">
                <button class="button_top">
                    預定行程
                </button>
                <button class="button_top">
                    登入/註冊
                </button>
            </div>
        </div>
    </div>
    <div class="hero_section">
        <div class="image_title_1">
            輕鬆享受台北一日悠閒
        </div>
        <div class="image_title_2">
            探索每個角落，體驗城市的深度旅遊行程
        </div>
        <div class="search_bar">
            <div class="input-container">
                <input class="input" value="輸入景點名稱查詢" id="input">
            </div>
            <button class="search_button" id="search_button">
                <img src="../static/image/icon.png" class="icon_image">
            </button>
        </div> 
    </div>
   <main id="main">
        <div class="list_bar">
            <div class="left_container">
                <button class="arrow_left" id="scrollLeft">
                    <img src="../static/image/arrow_left.png" class="arrow_left_img">
                </button>
            </div>
            <div class="container">
                <div class="listItem_container" id="optionsContainer">
                    <button class="option" id="mrt_1"></button>
                    <button class="option" id="mrt_2"></button>
                    <button class="option" id="mrt_3"></button>
                    <button class="option" id="mrt_4"></button>
                    <button class="option" id="mrt_5"></button>
                    <button class="option" id="mrt_6"></button>
                    <button class="option" id="mrt_7"></button>
                    <button class="option" id="mrt_8"></button>
                    <button class="option" id="mrt_9"></button>
                    <button class="option" id="mrt_10"></button>
                    <button class="option" id="mrt_11"></button>
                    <button class="option" id="mrt_12"></button>
                    <button class="option" id="mrt_13"></button>
                    <button class="option" id="mrt_14"></button>
                    <button class="option" id="mrt_15"></button>
                    <button class="option" id="mrt_16"></button>
                    <button class="option" id="mrt_17"></button>
                    <button class="option" id="mrt_18"></button>
                    <button class="option" id="mrt_19"></button>
                    <button class="option" id="mrt_20"></button>
                    <button class="option" id="mrt_21"></button>
                    <button class="option" id="mrt_22"></button>
                    <button class="option" id="mrt_23"></button>
                    <button class="option" id="mrt_24"></button>
                    <button class="option" id="mrt_25"></button>
                    <button class="option" id="mrt_26"></button>
                    <button class="option" id="mrt_27"></button>
                    <button class="option" id="mrt_28"></button>
                    <button class="option" id="mrt_29"></button>
                    <button class="option" id="mrt_30"></button>
                    <button class="option" id="mrt_31"></button>
                    <button class="option" id="mrt_32"></button>
                
                </div>
            </div>
            <div class="right_container">
                <button class="arrow_right" id="scrollRight">
                    <img src="../static/image/arrow_right.png" class="arrow_right_img">
                </button>
            </div>
        </div>
        <div class="attractions" id="attractions">
            <div class="attractions_group" id="attractions_group">
                <div class="attraction attraction_1">
                    <div class="img">
                        <img src ="" id="img_1" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_1">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_1">
                            </div>
                            <div class="info_right" id="info_right_1">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_2">
                    <div class="img">
                        <img src ="" id="img_2" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_2">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_2">
                            </div>
                            <div class="info_right" id="info_right_2">
                            </div>
                        </div>            
                    </div>
                </div>

                <div class="attraction attraction_3">
                    <div class="img">
                        <img src ="" id="img_3" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_3">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_3">
                            </div>
                            <div class="info_right" id="info_right_3">
                            </div>
                        </div>     
                    </div>
                </div>

                <div class="attraction attraction_4">
                    <div class="img">
                        <img src ="" id="img_4" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_4">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_4">
                            </div>
                            <div class="info_right" id="info_right_4">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_5">
                    <div class="img">
                        <img src ="" id="img_5" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_5">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_5">
                            </div>
                            <div class="info_right" id="info_right_5">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_6">
                    <div class="img">
                        <img src ="" id="img_6" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_6">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_6">
                            </div>
                            <div class="info_right" id="info_right_6">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_7">
                    <div class="img">
                        <img src ="" id="img_7" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_7">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_7">
                            </div>
                            <div class="info_right" id="info_right_7">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_8">
                    <div class="img">
                        <img src ="" id="img_8" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_8">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_8">
                            </div>
                            <div class="info_right" id="info_right_8">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_9">
                    <div class="img">
                        <img src ="" id="img_9" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_9">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_9">
                            </div>
                            <div class="info_right" id="info_right_9">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_10">
                    <div class="img">
                        <img src ="" id="img_10" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_10">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_10">
                            </div>
                            <div class="info_right" id="info_right_10">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_11">
                    <div class="img">
                        <img src ="" id="img_11" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_11">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_11">
                            </div>
                            <div class="info_right" id="info_right_11">
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="attraction attraction_12">
                    <div class="img">
                        <img src ="" id="img_12" class="attraction_img">
                    </div>
                    <div class="rectangle">
                        <div class="rectangle_text" id="rectangle_12">
                        </div>
                    </div>
                    <div class="details">
                        <div class="info-container">
                            <div class="info_left" id="info_left_12">
                            </div>
                            <div class="info_right" id="info_right_12"> 
                            </div>
                        </div> 
                    </div>
                </div>

            </div>
        </div>
    </main>
    <div class="footer">
        <div class="footer-text">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </div>
    <script src="../static/check.js"></script>
</body>
</html>