<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css">
</head>
<body>
    <div class="full-page" id="full-page">
    </div>
    <div class="sign-in-container">
        <div class="sign-in-page">
            <div class="top-area">
            </div>
            <div class="sign-in-title">
                登入會員帳號
            </div>
            <button class="close-container">
                <img src="../static/image/icon_close.png" class="close-button"/>
            </button>
            <div class="sign-in-input-container">
                <input id="sign-in-email" placeholder="輸入電子信箱" class="sign-in-input"/>
            </div>
            <div class="sign-in-input-container">
                <input type="password" id="sign-in-password" placeholder="輸入密碼" class="sign-in-input"/>
            </div>
            <div class="sign-in-button-container">
                <button class="sign-in-button" id="sign-in-button">登入帳戶</button>
            </div>
            <p id="sign-in-message" class="sign-message"></p>
            <div class="question-container">
                <button class="question" id="sign-in-question-btn">
                    還沒有帳戶？點此註冊
                </button>
            </div>
        </div>
    </div>
    <div class="sign-up-container">
        <div class="sign-up-page">
            <div class="top-area">
            </div>
            <div class="sign-in-title">
                註冊會員帳號
            </div>
            <button class="close-container-2">
                <img src="../static/image/icon_close.png" class="close-button"/>
            </button>
            <div class="sign-in-input-container">
                <input type="text" placeholder="輸入姓名" class="sign-in-input" id="sign-up-name"/>
            </div>
            <div class="sign-in-input-container">
                <input type="text" placeholder="輸入電子郵件" class="sign-in-input" id="sign-up-email"/>
            </div>
            <div class="sign-in-input-container">
                <input type="password" placeholder="輸入密碼" class="sign-in-input" id="sign-up-password"/>
            </div>
            <div class="sign-in-button-container">
                <button class="sign-in-button" id="sign-up-button">註冊新帳戶</button>
            </div>
            <p id="sign-up-message" class="sign-message"></p>
            <div class="question-container">
                <button class="question" id="sign-up-question-btn">
                    已經有帳戶了？點此登入
                </button>
            </div>
        </div>
    </div>
    <div class="navigation_con">
        <div class="navigation">
            <form action="/">
                <button class="title">
                台北一日遊
                </button>
            </form>
            
            <div class="button">
                <button class="button_top" id="booking-button">
                    預定行程
                </button>
                <button class="button_top" id="signIn-signUp-button">
                    登入/註冊
                </button>
            </div>
        </div>
    </div>
    <div class="hr_con_up">
        <hr class="hr_up">
    </div>
    <div class="main">
        <div class="text-container">
            <div class="text">
                <div class="text-title" id="welcome-text">
                </div>
                <div class="text-title" id="order-status">
                </div>
                <div class="text-container">
                    <div class="sub-text-title">
                        您的訂單編號為：
                    </div> 
                    <div class="sub-text-title" id="order-number">
                        {{order_number}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-text">
            COPYRIGHT © 2021 台北一日遊
        </div>
    </div>
    <script src="../static/thankyou.js"></script>
    <script src="../static/user.js"></script>
</body>
</html>